.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title,
.subtitle {
  text-align: center;
  margin-bottom: 0;
}

.subtitle {
  font-size: 3rem;
}

div.theme-switch__container {
  position: absolute;
  top: 6rem;
  right: 5%;
}

.light {
  background-color: white;
}

.light .title,
.light .subtitle {
  color: #000000;
}

.dark {
  background-color: #000000;
}

.dark .title,
.dark .subtitle {
  color: white;
}
