.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
  }
  
  .profileImage {
    object-fit: cover; 
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  